<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<title>TOP</title>
</head>
<body>

<div class="container bg-light">
	<div class="row pt-3">
		<div class="col-md-10 offset-md-1">

			<div class="text-right">
				<a href="/new"><button class="btn btn-info" type="button">新規投稿</button> </a>
			</div>

			<!--絞り込み機能表示部 -->
			<div class="row pt-3">
				<div class="col-md-12 d-flex justify-content-center align-items-center">
					<div>
				    	<form action="./" method="get">
				    		<span>日付：</span>
				    		<input type="date" id="start" name="start" th:value="${start}" min="2020-01-01">
				    		<span>～</span>
				    		<input type="date" id="end" name="end" th:value="${end}" min="2020-01-01">
				    		<input type="submit" value="絞り込み">
				    	</form>
				    </div>
			    </div>
		    </div>

			<!-- 投稿表示部 -->
			<div class="mt-3 mb-3" style="box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 0px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);" th:each="content : ${contents}">
			<div class="row pt-3">
				<div class="col-md-8">
					<h2 class="ml-2" th:text="'投稿ID'+ ${content.id} + ' の投稿'"></h2>
					<p class="ml-2">投稿内容：<span th:text="${content.content}"></span></p>
				</div>

				<!-- 投稿のボタン -->
				<div class="col-md-2 d-flex justify-content-center align-items-center">
				<!-- 編集ボタン -->
					<div>
						<form th:action="@{/edit}" method="get">
			                   <input type="hidden" name="id" th:value="${content.id}">
			                   <input class="btn btn-primary btn-sm" type="submit" value="編集">
						</form>
					</div>
				</div>
				<!-- 削除ボタン -->
				<div class="col-md-2 d-flex justify-content-center align-items-center">
					<div>
						<form th:action="@{/delete}" method="post">
			                   <input type="hidden" name="id" th:value="${content.id}">
			                   <input class="btn btn-danger btn-sm" type="submit" value="削除">
						</form>
					</div>
				</div>
			</div>

			<!-- 返信フォーム及び返信表示部 -->
			<div class="row pt-3">
				<div class="col-md-12">
					<h3 class="ml-2" th:text="'投稿ID ' + ${content.id} + 'への返信'"></h3>
				<!-- 返信フォーム -->
					<form method="post" action="/comment" th:object="${formModel}" class="ml-2 mb-2">
						<input type="text" name="content" th:value="*{content}" size="60" maxlength="200" />
						<input type="hidden" name="reportId" th:value="${content.id}">
						<input type="hidden" name="reportContent" th:value="${content.content}">
						<input type="submit" value="返信" />
					</form>
				</div>
			</div>

			<!-- 返信表示部 -->
			<div th:each="comment : ${comments}">
				<div th:if="${content.id} == ${comment.reportId}">
					<div class="row pt-2">
						<div class="col-md-8">
							<div class="text-secondary ml-2" th:text="${comment.content}"></div>
							<div class="text-secondary ml-2" th:text="'更新日時 ' + ${#dates.format(comment.updatedDate, 'yyyy/MM/dd HH:mm:ss')}"></div>
						</div>

						<!-- 返信のボタン -->
						<div class="col-md-2 text-center mb-2">
						<!-- 編集ボタン -->
							<div>
								<form th:action="@{/commentEdit}" method="get">
					                   <input type="hidden" name="id" th:value="${comment.id}">
					                   <input type="hidden" name="reportId" th:value="${content.id}">
					                   <input class="btn btn-primary btn-sm" type="submit"  value="編集">
								</form>
							</div>
						</div>
						<!-- 削除ボタン -->
						<div class="col-md-2 text-center mb-2">
							<div>
								<form th:action="@{/commentDelete}" method="post">
					                   <input type="hidden" name="id" th:value="${comment.id}">
					                   <input class="btn btn-danger btn-sm" type="submit" value="削除">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>